#main {

    margin: 3em auto;
    display: grid;
    grid-template-columns: 35% auto;
    grid-column-gap: 2em;
}

#news {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    background-color: rgb(98, 157, 194);
    color: white;
    padding: 2em;
}

.news-title {
    width: 100%;
    font-style: italic;
    margin-top: 2em;
    margin-bottom: .5em;
}

#about {
    grid-column: 2;
}

#about h1 {
    font-size: 40px;
}
#about img {
    margin: 2rem 0;
    max-width: 100%;
}